<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<script type="text/javascript">
  setTimeout(function sunrise() {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
  }, 0);
</script>

<div class="default-page">
  <div class="main container clearfix">
    <!-- <h1>Getting started</h1>
    <p>Don't worry, we've got your back.</p> -->

    <div class="content">
      <h1 id="main-title">Please sign in</h1>

      <a href="/auth/github/" class="btn">with GitHub</a>
      <a href="/auth/google/" class="btn">with Google+</a>
    </div>

  </div>
</div>
