{
  "google": {
    "clientID": "YOUR_CLIENT_ID",
    "clientSecret": "YOUR_CLIENT_SECRET",
    "callbackURL": "http://localhost:1337/auth/github/callback"
  },
  "github": {
    "clientID": "YOUR_CLIENT_ID",
    "clientSecret": "YOUR_CLIENT_SECRET",
    "callbackURL": "http://localhost:1337/auth/github/callback"
  }
}
